@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-f6 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 32px;
    line-height: 40px;
  }

.inter-f5 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 14px;
    line-height: 20px;
  }

.inter-f4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 14px;
    line-height: 20px;
  }


  .horizontal-slider {
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: auto;
  }
  .example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: 5px solid #3774ff;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  }
  .example-thumb.active {
    background-color: grey;
  }
  .example-track {
    position: relative;
    background: #ddd;
  }
  .example-track.example-track-0 {
    background: #83a9ff;
  }
  .horizontal-slider .example-track {
    top: 20px;
    height: 4px;
  }
  .horizontal-slider .example-thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
  }

  .react-clock__face {
    background-color: #FEE8CC;
  }

  .react-clock__face:hover {
    background-color: #FE8C00;
    cursor: pointer;
  }

  .react-clock__mark__body {
    background-color: #4C2A00;
  }

  .react-clock__hand__body {
    background-color: #4C2A00;
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-right {
    animation: slide-in-right 300ms ease-out forwards;
  }

  .rotate-y-180 {
    @apply transform;
    transform: rotateY(180deg);
}
